.page-wrapper {
    max-width: 80%;
    margin: 3rem auto;
}
// over 1000px
@media (min-width: 62.5em){
  .page-wrapper {
  max-width: 70%;
  }
}
.page-wrapper span {
  font-size: 1.8rem;
}

// tmdb logo
.tmdb-logo {
  width: 7rem;
  margin: 2rem;
}
