.page-wrapper {
    max-width: 80%;
    margin: 3rem auto;
}

// align p tags left, except for p.button
.page-wrapper p:not(.button){
  text-align: left;
  line-height: 1.7;
}
// over 1000px
@media (min-width: 62.5em){
  .page-wrapper {
  max-width: 70%;
  }
}
.page-wrapper span {
  font-size: 1.8rem;
}

// tmdb logo
.tmdb-logo {
  width: 5rem;
  margin-top: 2rem;
}
