#page-details {
  width: 100%;
}

#individual-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border-radius: 10px;

  .rating {
    font-size: 2.3rem;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  .title {
    font-size: 2rem;
  }
  
}

#details {
  position: relative;
  align-self: flex-start;
  margin: 2rem 0 0;
  .overview {
    margin-top: 3rem;
  }
}

#details-img {
  display: block;
  margin: 1rem;
}

// over 800px
@media (min-width: 50em) {
  #individual-wrapper {
    flex-direction: row;
  align-items: center;
  background-color: #5e3a3a;


  }
  #details {
    margin: 0;
    padding: 0 1rem;
    max-width: 50%;
  }
}

.star-icon {
  height: 7rem;
}

.rating-container {
  position: absolute;
  top: 5rem;
  right: 15%;
}

#details {
  position: relative;
}


#details p {
  text-align: left;
}
