#individual-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
  background-color: rgb(112, 73, 46);
  border-radius: 10px;
  background-color: #3e1717;

  .rating {
    font-size: 2.3rem;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  .title {
    font-size: 2rem;
  }
  
}

#details-img {
position: relative;
}

// heart icon on details page
#heart-details {
  top: 5%;
  right: 5%;
  animation: pulse 1s ease 3;
}

// over 800px
@media (min-width: 50em) {
  #individual-wrapper {
    flex-direction: row;
  }
  #details {
    padding: 3rem;
    max-width: 50%;
  }
}

.star-icon {
  height: 7rem;
}

.rating-container {
  position: absolute;
  top: 5rem;
  right: 15%;
}

#details {
  position: relative;
}


#details p {
  text-align: left;
}
