#page-details {
  max-width: 100%;
}

#individual-wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem 3rem 0;
  border-radius: 10px;

  .rating {
    font-size: 2.3rem;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  .title {
    font-size: 2rem;
    font-weight: 900;
  }
}

#details {
  position: relative;
  align-self: flex-start;
  margin: 2rem 0 0;
  .overview {
    font-size: 1rem;
    margin: 2rem 0;
    @media (min-width: 850px) {
      margin: 4rem 0 0;
    }
    @media (min-width: 600px) and (max-width: 799px), (min-width: 1000px) {
      font-size: 1.2rem;
    }
  }
}

#details-img {
  display: block;
  margin: 0;
}

.rating-container {
  position: absolute;
  top: 4rem;
  right: 5%;
}

// over 800px
@media (min-width: 50em) {
  #individual-wrapper {
    position: relative;
    flex-direction: row;
    align-items: center;
    background-color: #5e3a3a;

    .rating-container {
      position: absolute;
      top: 5rem;
      right: 15%;
    }
  }
  #details {
    margin: 0;
    padding: 0 1rem;
    max-width: 50%;
  }
  #details-img {
    margin: 2rem;
  }
}

.star-icon {
  height: 7rem;
}

#details {
  position: relative;
}

#details p {
  text-align: left;
}
