footer p {
  margin: 0;
  font-size: 1rem;
}
// site-title
#preview {
  font-size: 1.4rem;
  font-family: 'bely-display', sans-serif;
}

footer {
  position: absolute;
  bottom: 1rem;
  padding-top: 1rem;
  left: 0;
  right: 0;
  border-top: 1px solid #581818;
}