/* header  */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid #581818;
}

header p {
  display: inline-block;
  margin: 0;
}

.site-logo {
  margin: 0 0.5rem;
  width: 2rem;
}
#site-title {
  font-size: 2.5rem;
}

#subtitle {
  font-family: "montserrat", sans-serif;
  font-size: 0.8rem;
}

@media (min-width: 700px) {
  header {
    height: 5rem;
  }
  #subtitle {
    display: none;
  }
}

@media (min-width: 1000px) {
  #subtitle {
    display: inline;
    font-size: 1.2rem;
  }
  .site-logo {
    width: 2.2rem;
    margin: 0 0.8rem;
  }
  #site-title {
    font-size: 3rem;
  }
}

// highlight active nav
a.active {
  color: #df2162;
}

