/* main */
h1#home {
  margin: 0;
  height: 0;
  width: 0;
}

#hero-image {
  width: 100vw;
  height: 80vh;
}
.rating {
  color: red;
  font-size: 3rem;
}
.poster img, #individual-wrapper img {
  width: 100%;
  border-radius: 10px;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(3, auto); */
  gap: 3rem;
  max-width: 100%;
  margin: 3rem 4rem;
}

// over 800px tablet
@media (min-width: 50em) {
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

// over 1000px
@media (min-width: 62.5em) {
  .grid-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

// over 1300px desktop
@media (min-width: 81.25em) {
  .grid-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* "show movies by" buttons */
#selections {
  display: flex;
  justify-content: center;
}
.button {
  margin: 2rem auto;
  width: 8rem;
  height: 3rem;
  color: #420042f6;
  background-color: orange;
  border-radius: 5px;
  line-height: 3rem;
  text-transform: uppercase;
}

.category {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #df2162;
  border-radius: 0.6rem;
  color: #df2162;

  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 1.2rem;
  padding: 1.2rem 2.8rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.category:hover,
:focus {
  color: #fff;
  outline: 0;
}

.category {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
/* this set the different color when active */
.category.active {
  background-color: #df2162;
  color: white;
}
.category:hover {
  box-shadow: 0 0 40px 40px #df2162 inset;
}

/*  overlay */
.poster {
  position: relative;
}

.poster .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: whitesmoke;
  font-size: 1.1rem;
}

.poster .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
  background-color: #420042f6;
}

.poster:hover .overlay {
  opacity: 1;
}
// end of overlay


.title {
  font-size: 1.5rem;
  text-align: left;
  margin: 0.8rem 0;
}
.release-date {
  font-size: 1.2rem;
  text-align: left;
}

.overview {
  text-align: left;
}
