#individual-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4rem 0;
}

@media (min-width: 800px) {
  #individual-wrapper {
    flex-direction: row;
    img {
      height: 50vh;
    }
  }
}

#details {
  margin: 0 3rem;
}
