.App {
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
}

header {
  border-bottom: 1px solid white;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

header p {
  font-size: 3rem;
  margin: 0 1rem;
}

header p span {
  font-size: 1.5rem;
}

.rating {
  color: red;
  font-size: 3rem;
}
