/* fonts, links, buttons and icons across multiple pages etc */
// body styling for entire site
.App {
  position: relative;
  min-height: 100vh;
  width: 100%;
  font-family: "montserrat", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  background-color: #231717;
  // this prevents button on the bottom from jumping
  padding-bottom: 8rem;
}

// custom-fonts
h1,
h2,
h3,
.rating,
header span,
.page-wrapper span {
  font-family: "bely-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// fonts
h1 {
  margin: 2rem auto;
  color: #a502a5;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

/* poundingheart icon */
.heart-icon {
  path {
    fill: transparent;
    stroke: red;
  }
  cursor: pointer;
  overflow: visible;
  position: absolute;
  top: 3%;
  right: 5%;
  height: 3rem;
  width: 3rem;
  animation: pulse 1s ease 5;
  z-index: 100;
}
// fill in heart
.heart-active {
  path {
    fill: red;
  }
}
// animation
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
// end of poundingheart icon

// general buttons on multiple pages
.button {
  margin: 3rem auto;
  width: 8.5rem;
  height: 3rem;
  color: #420042f6;
  background-color: orange;
  border-radius: 5px;
  line-height: 3rem;
  text-transform: uppercase;
  cursor: pointer;
}

// more info button
.button-info {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (min-width: 600px) and (max-width: 800px) {
  .button {
    width: 7rem;
    height: 2.5rem;
    line-height: 2.5rem;
  }
  .button-info {
    font-size: 0.9rem;
  }
} 

// buttons on the bottom of each page
.button-special {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 4rem;
  margin: 2rem auto;
}
