/* font, margin, links etc */
.App {
  min-height: 100vh;
  font-family: 'montserrat', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  background-color: #211717;
}

// custom-fonts
h1,
h2,
h3,
header span,
.page-wrapper span {
  font-family: 'bely-display', sans-serif;
  font-weight: 400;
  font-style: normal;
}

// fonts
h1 {
  margin: 5rem auto 2rem;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

a.active {
  color: #df2162;
}
